/*
    Document   : Style
    Created on : 29 Dec, 2013, 8:36:32 PM
    Author     : abu
    Description:
        Purpose of the stylesheet follows.
*/

root {
  display: block;
}

.formWrapper {
  border: 2px solid #858585;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #ebebeb;
  display: block;
}
.formWrapper-Autofit {
  border: 1px solid #909090;
  padding: 10px;
  margin: 10px 20px 20px 30px;;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #ebebeb;
  text-align: left;
  display: inline-block;
}

.form-TxtInput{
  font-size: 15px;
  color: #858585;
  width: 179px;
  box-shadow: 0 0 0px 2px #ebebeb;
  -webkit-box-shadow: 0 0 0px 2px #ebebeb;
  -moz-box-shadow: 0 0 0px 2px #ebebeb;
  padding: 7px 27px 7px 9px;
  border: 2px solid #d7d7d7;
  display: block;
  margin: 5px 5px 10px 5px;
  clear: both;
}

.form-TxtInput:focus{
  border: 2px solid #858585;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

#siimage{
  box-shadow: 0 0 0px 2px #ebebeb;
  -webkit-box-shadow: 0 0 0px 2px #ebebeb;
  -moz-box-shadow: 0 0 0px 2px #ebebeb;
  padding: 0px;
  border: 2px solid #d7d7d7;
  display: block;
  margin: 0px 5px 0px 5px;
  clear: both;
}

.formWrapper-h3{
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid #858585;
}

.formControl{
  font-size: 12px;
  margin: 5px;
  text-align: right;
}
.form-FieldGroup {
  float: left;
  margin-left: 5px;
  padding-left: 0px;
}

#Msg:empty{
  display: none;
}

.jQuery-ButtonSet{
}

.jQuery-ButtonSet-Centre{
  font-size: 12px;
  margin: -20px;
  text-align: center;
}

.jQuery-ButtonSet-Wrapper{
  min-height: 400px;
  margin: 15px 10px 10px 10px;
  padding: 5px;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #FBFBFB;
  -webkit-box-shadow: inset 0px 12px 9px -13px #808080;
  -moz-box-shadow: inset 0px 12px 9px -13px #808080;
  box-shadow: inset 0px 12px 9px -13px #808080;
}

.jQuery-ButtonSet-Wrapper-content{
  margin: 30px 10px 10px 10px;
}
input[type=search]{
  border: 1px solid darkgray;
  padding: 4px;
  background-color: buttonface;
  border-radius: 4px;
}

.formWrapper-legend{
  margin: 0px 0px 0px 20px;
  font-size: 20px;
}
.formWrapper-fieldset{
  margin: 10px;
  padding: 10px 5px 5px 5px;
  border: 1px solid #858585;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  float: left;
}
.formWrapper-Clear{
  clear: both;
}