/*
    Document   : Style
    Created on : 29 Dec, 2013, 8:36:32 PM
    Author     : abu
    Description:
        Purpose of the stylesheet follows.
*/

root {
  display: block;
}

.formWrapper {
  border: 3px solid #858585;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #ebebeb;
  display: inline-block;
}
.formWrapper fieldset{
  margin: 10px;
  padding: 10px 5px 5px 0px;
  border: 1px solid #858585;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  float: left;
  transition: background .25s linear,box-shadow .25s linear;
}
.formWrapper input[type=text],
.formWrapper input[type=email],
.formWrapper input[type=number],
.formWrapper textarea,
.formWrapper input[type=password]{
  font-size: 15px;
  color: #858585;
  box-shadow: 0 0 0px 2px #ebebeb;
  -webkit-box-shadow: 0 0 0px 2px #ebebeb;
  -moz-box-shadow: 0 0 0px 2px #ebebeb;
  padding: 7px 27px 7px 9px;
  border: 2px solid #d7d7d7;
  display: block;
  margin: 5px 5px 10px 5px;
  clear: both;
}
.formWrapper .chosen-container{
  font-size: 15px;
  color: #858585;
  box-shadow: 0 0 0px 2px #ebebeb;
  -webkit-box-shadow: 0 0 0px 2px #ebebeb;
  -moz-box-shadow: 0 0 0px 2px #ebebeb;
  display: block;
  margin: 5px 5px 10px 5px;
  clear: both;
}
.formWrapper label{
  margin: 15px 0px 0px 5px;
}
.formWrapper h3{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid #858585;
}
.formWrapper input[type=text]:focus, .formWrapper input[type=password]:focus {
  border: 2px solid #858585;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.formControl{
  margin: 5px 0px 0px 0px;
  text-align: right;
}
.formWrapper .FieldGroup {
  float: left;
  margin: 10px,10px,10px,10px;
  padding: 10px,10px,10px,10px;
}
.formSliderLabel{
  font-size: 20px;
}

.jQuery-Slider{
  margin: 20px 0px 20px 0px;
  width: 500px;
  background: white;
}

#FinancialSlider .ui-slider-range-min{
  background: #dc3912;
}
#PhysicalSlider .ui-slider-range-min{
  background: #3366CC;
}

.StartDate, .AlotmentDate,.TenderDate,.WorkOrderDate,.ReportDate{
  text-align: center;
  width: 100px;
}
.ui-datepicker-trigger{
  margin: -35px 0px 0px 135px;
  padding: 0px;
  float: left;
}
.myfont {
  color: #660000;
  font-family: Calibri, Georgia, "Book Antiqua", Verdana;
  font-size:15px;
  font-style: normal;
  line-height: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0px;
  padding-left: 0px;
}

.formWrapper legend{
  margin: 0px 0px 0px 20px;
  font-size: 20px;
}

