[submodule "fpdf"]
	path = fpdf
	url = https://github.com/abusalam/FPDF.git
[submodule "login"]
	path = login
	url = https://github.com/abusalam/UserAuth.git
[submodule "smsgw"]
	path = smsgw
	url = https://github.com/abusalam/SMS-Gateway.git
[submodule "Jcrop"]
	path = Jcrop
	url = https://github.com/abusalam/Jcrop.git
[submodule "captcha"]
	path = captcha
	url = https://github.com/abusalam/Captcha.git
[submodule "SRER-2014"]
	path = SRER-2014
	url = https://github.com/abusalam/SRER-2014.git
[submodule "php-mailer"]
	path = php-mailer
	url = https://github.com/abusalam/GMail-SMTP.git
[submodule "FPDF"]
	path = FPDF
	url = https://github.com/abusalam/FPDF.git
[submodule "eRecruitment"]
	path = eRecruitment
	url = https://github.com/abusalam/eRecruitment.git
[submodule "DataTables"]
	path = DataTables
	url = https://github.com/abusalam/DataTables.git
[submodule "js/jQuery-MD5"]
	path = js/jQuery-MD5
	url = https://github.com/placemarker/jQuery-MD5.git
[submodule "PHPExcel"]
	path = PHPExcel
	url = https://github.com/PHPOffice/PHPExcel.git
