root {
  display: block;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 4px;
}
tr,th{
  border: 2px solid gray;
}
tfoot tr td{
  padding: 4px;
}
.content{
  padding-top: 10px;
  font-size: 14px;
}